@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar styles */
/* Add this CSS to your global styles.css or directly in your component using <style> tags */

/* Width and color of the scrollbar */
::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #4B5563; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
    background: #F3F4F6; /* Color of the scrollbar track */
}

/* Optionally, add hover effects for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background: #374151; /* Darker color on hover */
}